.divlar1{
    border-radius: 20px;
    border-radius: 2px black solid;
    background-color: #DBCFE6;
    padding: 5px 10px;
}
.divlar2{
    border-radius: 20px;
    border-radius: 2px black solid;
    background-color: #CBE3F3;
    padding: 5px 10px;

}
.divlar3{
    border-radius: 20px;
    border-radius: black 2px solid;
    background-color: #F3C9D8;
    padding: 5px 10px;

}
.divlar4{
    border-radius: 20px;
    border-radius: 2px black solid;
    background-color: #F2D0CD;
    padding: 5px 10px;

}
.divlar5{
    border-radius: 20px;
    border-radius: 2px black solid;
    background-color: #C3DCDA;
    padding: 5px 10px;

}
.divlar6{
    border-radius: 20px;
    border-radius: 2px black solid;
    background-color: #F1DEC6;
    padding: 5px 10px;

}