.divlar1{
    border-radius: 20px;
    border-radius: 2px black solid;
}
.divlar2{
    border-radius: 20px;
    border-radius: 2px black solid;
}
.divlar3{
    border-radius: 20px;
    border-radius: black 2px solid;
}
.divlar4{
    border-radius: 20px;
    border-radius: 2px black solid;
}
.divlar5{
    border-radius: 20px;
    border-radius: 2px black solid;
}
.divlar6{
    border-radius: 20px;
    border-radius: 2px black solid;
}