.Navbarleft {
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: large;
  font-style: bold;
}
.Navv{
  background-color: #fff !important;

}
.navbar_left_ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; 
  margin-top: 30px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 0 !important;
}


.Navbarleft ul>a>li {
  width: 100% !important; 
}
.navbar_left_ul li {
  flex: 1;
  padding: 3px 0;
  margin: 0 !important;
  text-align: center;
  list-style: none;
  width: 100% !important;
  transition: all ease-in-out .4s;
}

.navbar_left_ul li:hover{
  background-color: #775DD0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.navbar_left_ul li:hover a{
  color: #fff !important;


}

.Navbarleft  a li {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 25px 0px;
  text-decoration: none;

  list-style: none;
}
.Navbarleft ul a{
  display: block;
  width: 100%;
  padding: 0px 0px;
 font-size: 20px; 
  margin: 0;
  font-weight: 500;

}
.Navbarleft ul{
  padding-left: 0 !important;
}

.chiq{
  padding: 14px 16px;
  position: fixed;
  top: 90vh;
}
.chiq  a{
  text-decoration: none;
 color: rgb(240, 239, 239);
}
.chiq a:hover {
  color: black;
}

.ava:hover{
 cursor: pointer;
}

.li_click{
  background-color: #775DD0;
  color: #fff !important;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

