.Navbarleft {
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: large;
  font-style: bold;
}
.Navv{
  background-color: #fff !important;
  position: relative;
}

.navbar_left_ul{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-top: 30px;
  padding: 0;
}
.navbar_left_ul li {
  flex: 1;
  padding: 3px 0;
  margin: 0 !important;
  text-align: center;
  list-style: none;
  width: 100% !important;
  transition: all ease-in-out .4s;
}

.navbar_left_ul li:hover{
  background-color: #775DD0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.navbar_left_ul li:hover a{
  color: #fff !important;

}

.Navbarleft li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  width: 100%;
  margin: 0;
  font-weight: 500;
}

.chiq{
  padding: 14px 16px;
  position: fixed;
  top: 90vh;
}
.chiq  a{
  text-decoration: none;
 color: rgb(240, 239, 239);
}
.chiq a:hover {
  color: black;
}
.top_section{
  padding: 14px 16px;
}
.logo{
  display: inline-flex;
}
.logoimg{
  width: 40px;
  height: 40px;
  object-fit: cover;

}
.input_div{
  border-radius: 20px;
  background-color: rgb(240, 232, 232);
  display: inline-flex;
  text-align: center;
  justify-content: center;
}
.input_div input{
  border: none;
  border-radius: 20px;
  background-color: rgb(240, 232, 232);
 width: 300px;
}
.ava:hover{
 cursor: pointer;
}

.li_click{
  background-color: #775DD0;
  color: #fff !important;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

