.Navbarleft {
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: large;
  font-style: bold;
}
.Navv{
  background-color: #fff !important;
}

.Navbarleft div{
  width: 100%;
  margin: 0 auto;
}

.Navbarleft ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
}


.Navbarleft ul>a>li {
  width: 100% !important; 
}

.Navbarleft  a li {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 25px 0px;
  text-decoration: none;
  list-style: none;
}
.Navbarleft ul a{
  display: block;
  width: 100%;
  padding: 0px 0px;
 font-size: 20px;
}

.chiq{
  padding: 14px 16px;
}
.chiq  a{
  text-decoration: none;
 color: black;
}
.chiq a:hover {
  color: black;
}
.top_section{
  padding: 14px 16px;
}
.logo{
  display: inline-flex;
}
.logoimg{
  width: 40px;
  height: 40px;
  object-fit: cover;

}
.input_div{
  border-radius: 20px;
  background-color: rgb(240, 232, 232);
  display: inline-flex;
  text-align: center;
  justify-content: center;
}
.input_div input{
  border: none;
  border-radius: 20px;
  background-color: rgb(240, 232, 232);
 width: 300px;
}
.ava:hover{
 cursor: pointer;
}

.li_click{
  background-color: #635AD9;
  color: black;
  border-radius: 0 0 10px 10px;
}